@model Debaser.ViewModels.DebaserDataViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string fromDate;
    string toDate;
    string location;
    if (Model.SearchedFromDate == null || Model.SearchedToDate == null)
    {
        fromDate = string.Empty;
        toDate = string.Empty;
        location = string.Empty;
    }
    else
    {
        fromDate = Convert.ToDateTime(Model.SearchedFromDate).ToString("yyyy/MM/dd");
        toDate = Convert.ToDateTime(Model.SearchedToDate).ToString("yyyy/MM/dd");
        if (Model.SearchedLocation.ToLower() == "malmo")
        {
            location = "Malmö";
        }
        else
        {
            location = Model.SearchedLocation;

        }
    }
}
<!-- Form group for searching data with post method -->
<div style="float: left; position:relative; width: 27%; margin-top:60px;">
    @using (Html.BeginForm("Search", "Debaser", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(d => d.SearchData.FromDate)
            @Html.TextBoxFor(d => d.SearchData.FromDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.SearchData.FromDate)
        </div>
        <div class="form-group">
            @Html.LabelFor(d => d.SearchData.ToDate)
            @Html.TextBoxFor(d => d.SearchData.ToDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.SearchData.ToDate)

        </div>
        <div class="form-group">
            @Html.LabelFor(d => d.SearchData.Location)
            @Html.DropDownListFor(d => d.SearchData.Location, new List<SelectListItem>
            {
               new SelectListItem{ Text = "Samtliga Debaser", Value = "1" },
               new SelectListItem{ Text = "Strand", Value = "strand" },
               new SelectListItem{ Text = "Medis", Value = "medis" },
               new SelectListItem{ Text = "Malmö", Value = "malmo" },

            }, "Välj Plats", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.SearchData.Location)
        </div>
        <button type="submit" class="btn btn-primary">Sök</button>
    }
</div>
<!-- Div for displaying some headers with searched data and table with search results-->
<div style="float: right; width: 73%; margin-top:30px;">
    <!-- If selection to display correct data based on the users state in the process and choises -->
    @if (fromDate != "" && toDate != "" && location != "")
    {
        <h3>Visar spelningar från @fromDate till @toDate vid @location</h3>
    }
    else if (fromDate != "" && toDate != "" && location == "")
    {
        <h3>Visar spelningar från @fromDate till @toDate vid samtliga Debasers</h3>
    }
    else if (fromDate == "" && toDate == "")
    {
        <h3>Gör en ny sökning för att visa event</h3>
    }
    @if (!Model.EventList.Any())
    {
        <p>Kunde inte hitta några event</p>
    }
    else
    {
        <table class="table table-bordered table-hover" id="spelningar">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Datum</th>
                    <th>Åldersgräns</th>
                    <th>Debaser</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 0; }
                @foreach (var data in Model.EventList)
                {
                    <tr>
                        <td>@Html.ActionLink(data.Event, "Details", "Debaser", new { id = Convert.ToInt32(data.EventId), eventDate = Convert.ToDateTime(data.EventDate), location = location }, null) </td>
                        <td>@data.EventDate</td>
                        <td>@data.Age</td>
                        <td>@data.Venue - @data.Room</td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    }
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#spelningar").DataTable();
        });
    </script>
}